.centro{
    position: fixed;
    width: 12.5vw;
    margin-left: 45%;
    margin-top: 18vh;
    color: #40514d;
}

.cbutton {
    background-color: #40514d;
    color: white;
    padding: 1vw 3vw 1vw 2.5vw;
    text-align: center;
    text-decoration: none;
    font-size: 1.3vw;
    border-radius: 25px;
    margin-top: 20px;
    display: inline-block;
    font-style: italic;
    z-index: 0;
    position: relative;

    -moz-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;

    box-shadow:  0 0 15px  rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 15px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 15px  rgba(0,0,0,0.6);
}

.cbutton:hover {
    background-color: rgb(200, 57, 69);
    color: white;
}

.paypal{
    width: 5.25vw;
    margin-left: 40px;
}
.backcolab {
    background-image: url("../../images/fcolaborafinal.jpg");
    width: 100%;
    left: 0px;
    height: 100%;
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -10;
}

fieldset {
    position: fixed;
    height: 80vh;
    width: auto;

    top: 10vh;
    bottom: 5vh;
    left: 10vw;
    right: 10vw;
    
    border-style: solid;
    border-color: white;

    opacity: 0.8;
    z-index: -5;
}

legend{
    color: white;
    font-weight: bolder;
    font-size: xx-large;
    font-style: italic;
}

.logo{
    margin-top: 41.5%;
    margin-left: 42%;
    width: 150px;
}

.patrocinadors{
    top: 20px;
    margin-left: -30vw;
    width: auto;
}

.grans{
    height: 7vw;
    margin-left: 6vw;
    margin-top: 0.8vw;
}

.mitjans{
    height:6vw;
    margin-left: 8vw;
    margin-top: 0.8vw;  
}

.petits{
    height: 5.5vw;
    margin-left: 10vw;
    margin-top: 0.8vw;
}
.ctext{
    font-weight: bold;
    color: #40514d;
    font-size: 1.4vw;
}