.lefttext{
    margin-top: 7%;
    margin-left: 12%;
    margin-right: 23%;
    margin-bottom: 5%;
    color: rgb(60, 72, 68);
    flex: 25%;
    line-height: 175%;
}

.righttext{
    margin-top: 7%;
    margin-right: 12%;
    margin-left: 5%;
    text-align: right;
    color: rgb(60, 72, 68);
    flex: 25%;
    line-height: 175%;
}

.backcolab {
    background-image: url("../../images/fonscolabb.jpg");
    width: 100%;
    left: 0px;
    /* margin-top: -35px; */
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -2;
    display: flex;
    /* position: fix; */
}

/*-------SEGONA PART-----------*/

.txt{
    margin-top: 25%;
    font-weight: bold;
    color: rgb(199, 57, 69);
    text-align: center;
    font-size: larger;
    margin-left: -45%;
}

.txxt{
    font-weight: bold;
    color: rgb(199, 57, 69);
    text-align: center;
    font-size: larger;
    margin-left: -45%;
}

img{
    object-position: center;
    height: 130px;
    padding: 4%;
}

.patrocinadors{
    margin-left: 30%;
}

.backcolab2 {
    background-image: url("../../images/Pattern_colabora.jpg");
    /* margin-top: -8%; */
    width: 100%;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -2;
}
