/*--------MENÚ--------*/
.menu-bar{
    text-align: center;
    margin-top: 15px;
    z-index: 1000;
    top: 0px;
    left: 40%;
    position: fixed;
}
  
.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: black;
}
  
.menu-bar ul li{
    width: 1%;
    padding: -3%;
}
  
.menu-bar ul li a{
    text-decoration: none;
    color:black;
    align-content: center;
}