
.overlaymenu{
  position: fixed;
  color: black;
	visibility:visible;
	width: 100%;
  height: 100%;
  font-size: 5%;
	top: 0;
  left: 0;
  display: inline-block;
  background-image: url('../../images/backmenu.png');
}

.overlaymenu nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
  font-size: 54px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
  
.overlaymenu ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative;
}
  
.overlaymenu ul li {
  display: block;
  height: 20%;
  height: calc(100% / 5);
  min-height: 54px;
}
  
.overlaymenu ul li a {
  font-weight: 300;
  display: block;
  color: black;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  font-family: "NotCourierSans";
  text-transform: uppercase;
}

  
.overlaymenu ul li a:hover,
.overlaymenu ul li a:focus {
  color: #849368;
}
  

