
.overlaymenu{
  position: fixed;
  color: white;
	visibility:visible;
	width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 5%;
	top: 0;
  left: 0;
  display: inline-block;
  background-image: url('../../images/fmenu.jpg');
  z-index: 15;
}

.overlaymenu nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
  width: 50%;
  margin-left: 10vw;
  font-size: 54px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
  
.overlaymenu ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative;
  margin-top: 100px;
}
  
.overlaymenu ul li {
  display: block;
  height: 20%;
  height: calc(100% / 5);
  /* min-height: 30px; */
}
  
.overlaymenu ul li a {
  font-weight: 900;
  display: block;
  color: white;
  font-size: 2.1rem;
  margin-top: -3.5vh;
  width: 500px;
  margin-left: 42.5vw;
  text-align: left;
  transform: rotate(-2.3deg);
  font-style: italic;
  text-decoration: none;
  text-transform: uppercase;

  transition: color 0.2s;
  -webkit-transition: color 0.2s;
}

  
.overlaymenu ul li a:hover,
.overlaymenu ul li a:focus {
  color: rgb(128, 147, 145);
}
  
.hamburgerbutton > div:first-child{
  z-index: 9999999;
}
.esquerra{
  position: relative;
  color: white;
  width: 45.8%;
  height: 60vh;
  margin-left: 10vh;
  margin-top: -35vh;
  border-right: solid white;
}

.lgo{  
  margin-top: 15vh;
  height: 13vh;
  width: auto;
  position: relative;
  z-index: 0;
  float: right;
  margin-left: 3vw;
}

fieldset{
  position: fixed;
  height: 80vh;
  width: auto;

  top: 10vh;
  bottom: 5vh;
  left: 10vw;
  right: 10vw;
  
  border-style: solid;
  border-color: white;

  opacity: 0.8;
  z-index: -5;
}

.imageBox{
  position: relative;
  float: right;
}

.imageBox .hoverImg{
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

.imageBox:hover .hoverImg{
  display: block;
}

.igg{
  height: 3.75vh;
  margin-right: 3vw;
}