fieldset{
  position: fixed;
  height: 80vh;
  width: auto;

  top: 10vh;
  bottom: 5vh;
  left: 10vw;
  right: 10vw;

  border-style: solid;
  border-color: white;

  opacity: 0.8;
  z-index: -5;

}

legend{
  color: white;
  font-weight: bolder;
  font-size: xx-large;
  font-style: italic;
}

.grid-container{
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;  
  align-items: center;
}
  
.column {
  flex: 33.3%;
  max-width: 33.3%;
}
  
.row{
  width: 100%;
  height: 50vh;
  text-align: center;
  position: relative;
}

.eimg{
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.row:hover .overlayequipo{
  opacity: 0.75;
}

.text{
  align-content: center;
  position: absolute;
  top: 22.5vh;
  left: 0;
  width: 100%;

  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  
  color: #40514d;
  font-size: 4vh;
  font-weight: bold;
  font-style: italic;
  transform: rotate(-2.8deg);
}
.subtext{
  align-content: center;
  position: absolute;
  top: 28vh;
  left: 8.5vw;
  width: 15vw;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #c83945;
  font-size: 2.3vh;
  transform: rotate(-2.8deg);
  font-style: italic;
}

.overlayequipo{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: white;
}


.grid{
  position: absolute;
  display: inline-grid;
  grid-template-columns: 33% 33% 33%;
  text-align: center;
  grid-auto-rows: minmax(100px, auto);
  width: 70%;
  align-items: center;
  margin-left: 16%;
  margin-top: 14vh;
  margin-bottom: 20px;
}
.column1{
  grid-column: 1;
}

.column2{
  grid-column: 2;
}

.column3{
  grid-column: 3;
  margin-left: -25px;
}
.first{
  font-size: 2.1vh;
  margin-top: 1vh;
  color: white;
}
.second{
  margin-top: 0.8vh;
  color: white;
  font-weight: bold;
  font-style: italic;
  font-size: 2.5vh;
}

.backequipo{
  background-image: url("../../images/bequipo.gif");
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -25;
}
.ebutton {
  background-color: #40514d;
  color: white;
  display: inline-block;

  font-style: italic;
  text-align: center;
  text-decoration: none;

  padding: 1vw 2.25vw 1vw 2.2vw;
  border-radius: 5vh;

  font-size: 1.3vw;
  /* margin-left: 50%;
  margin-right: 50%; */

  margin-top: 72.6vh;
  margin-left: 33vw;

  z-index: 0;
  position: relative;

  transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;

  box-shadow:  0 0 15px  rgba(0,0,0,0.6);
  -moz-box-shadow: 0 0 15px  rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 0 15px  rgba(0,0,0,0.6);
}

.ebutton:hover {
  background-color: rgb(200, 57, 69);
  color: white;
}

.bdown{
  border: none;
  text-decoration: none;
  background: none;
  left: 82.5vw;
  top: -12vh;
  margin-bottom: 5vh;
  position: relative;
  z-index: 25;
  width: 6.5vw;
}