/*-----PROYECTO------*/
h3{
  color: white;
  margin-bottom: -5px;
  margin-top: -5px;
}
  
p {
  color: white;
  margin: 6px;
}
  
.proyectotext1{
  position: absolute;
  top: -10%;
  left: -20%;
  width: 50%;
  font-size: small;
}

.proyectotext2{
  width: 65%;
  position: absolute;
  bottom: -15%;
  right: -25%;
  text-align: right;
  font-size: small;
}
  
.proyectotext3{
  position: absolute;
  top: 33%;
  left: 30%;
  color: white;
  font-size: 45px;
  font-weight: 750;
  transform: rotate(-1.5deg);
  -webkit-transform: rotate(-1.5deg);
  -moz-transform: rotate(-1.5deg);
}
  
.trailer{
  position: relative;
  color: white;
  width: 50%;
  left: 25%;
  top: 25%;
}
  
.trailer img{
  width: 100%;
  height: 350px;
  filter: opacity(30%);
  -webkit-box-shadow: 0 0 20px 20px rgba(0,0,0,0.8);
  box-shadow: 0 0 20px 20px rgba(0,0,0,0.8);
  -moz-box-shadow: 0 0 20px 20px  rgba(0,0,0,0.5);
}

.backproyecto {
  background-image: url("../../images/Pattern_Verd.jpg");
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
}
