/*-----PROYECTO------*/
h3{
  color: white;
  margin-bottom: -5px;
  margin-top: -5px;
  font-size: x-large;
  margin-left: -5px;
  display: inline-block;
}
  
.proyectotext1{
  position: absolute;
  top: -10%;
  left: -10%;
  width:35%;
  font-size: 15px;
  display: inline-block;
}
  
.proyectotext3{
  position: absolute;
  top: 30%;
  left: 30%;
  color: white;
  font-size: 40px;
  font-weight: 750;
  transform: rotate(-1.5deg);
  -webkit-transform: rotate(-1.5deg);
  -moz-transform: rotate(-1.5deg);
}
  
.trailer{
  position: relative;
  color: white;
  width: 70%;
  left: 15%;
  right: 20%;
  top: 10%;
  text-size-adjust: auto;
}
  
.trailer img{
  width: 100%;
  height: 350px;
  filter: opacity(30%);
  -webkit-box-shadow: 0 0 20px 20px rgba(0,0,0,0.8);
  box-shadow: 0 0 20px 20px rgba(0,0,0,0.8);
  -moz-box-shadow: 0 0 20px 20px  rgba(0,0,0,0.5);
}

.backproyecto {
  background-image: url("../../images/Pattern_Verd.jpg");
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
}

fieldset {
  position: fixed;
  height: 80vh;
  top: 10%;
  width: auto;
  bottom: 5%;
  left: 10%;
  right: 10%;
  border-style: solid;
  z-index: 2;
  border-color: white;
}

legend{
  color: white;
  font-size: 35px;
  font-weight: bolder;
}

.legend2 {
  position: absolute;
  right: 45%;
  /* background:  url('../../images/Pattern_Verd.jpg'); */
  line-height: 2em;
  bottom: -25px;
  font-size: 30px;
  color: white;
  font-weight: bolder;
}