.psv-panel-resizer{
  display: none;
  background: none;
  width: 0px;
}
.psv-panel-resizer::before{
  width: 0px;
}

.psv-panel{
  transition-property: opacity;
}

.psv-panel-close-button{
  left: 360px;
  top: 20px;
  background: none;
}
.psv-panel-close-button::after, .psv-panel-close-button::before{
  left: 0px;
  width: 24px;
}

.psv-panel--open{
  position: absolute;
  transition:  opacity 0.5s;
  opacity: 0.9;
  margin-top: 200px;
  margin-right: 80vh;
  bottom: 130px;
  height: fit-content;
}

.psv-panel-content{
  background-color: #40514d;
  margin-right: 15px;
  color: white;
}

#psv-marker-cajas{
  transition: all .5s;
}
#psv-marker-cajas:hover{
  opacity: 1;
}
#psv-marker-poster{
  transition: all .5s;
}
#psv-marker-poster:hover{
  opacity: 1;
}

#psv-marker-posits{
  transition: all .5s;
}
#psv-marker-posits:hover{
  opacity: 1;
}

#psv-marker-lampara{
  transition: all .5s;
}
#psv-marker-lampara:hover{
  opacity: 1;
}

#psv-marker-revista{
  transition: all .5s;
}
#psv-marker-revista:hover{
  opacity: 1;
}

#psv-panel-content{
  text-align: center;
}

h1{
  font-family: 'Asap', sans-serif;
  font-weight: bolder;
  font-style: italic;
  text-align: center;
}
p{
  font-family:'Asap'; 
  font-size: 15px;
  text-align: center;
  width: 100%;
}

fieldset{
  position: fixed;
  height: 80vh;
  width: auto;
  bottom: 5%;
  left: 10%;
  right: 10%;
  border-style: solid;
  border-color: white;
  opacity: 0.5;
  z-index: 2;
}

.ending{
  position: relative;
  width: 100%;
  height: 100%;
}

.ending p{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  margin-top: 560px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: none;
  color: white;
  font-size: 14px;
}

.ending img{
  height: 40px;
  position: fixed;
  margin-top: 90px;
  z-index: 3;
  opacity: 0.8;
  margin-left: 45%;
  margin-right: 45%;
}

.mobile{
  background-image: url("../../images/FONS_mobile.jpg");
}