.psv-panel-resizer{
  display: none;
  background: none;
  width: 0px;
}
.psv-panel-resizer::before{
  width: 0px;
}

.psv-panel{
  transition-property: opacity;
}

.psv-panel-close-button{
  left: 360px;
  top: 20px;
  background: none;
}
.psv-panel-close-button::after, .psv-panel-close-button::before{
  left: 0px;
  width: 24px;
}

.psv-panel--open{
  position: absolute;
  transition:  opacity 0.5s;
  opacity: 0.9;
  margin-top: 25vh;
  margin-right: 35vw;
  font-size: x-large;
  bottom: 21vh;
  height: fit-content;
  background-color: #40514d;
}

.psv-tooltip {
  background-color: #40514d;
  background: #40514d;
}

.psv-tooltip-content{
  font: 14px Asap;
}

.psv-panel-content{
  color: white;
}

#psv-marker-cajas{
  transition: all .5s;
}
#psv-marker-cajas:hover{
  opacity: 1;
}
#psv-marker-poster{
  transition: all .5s;
}
#psv-marker-poster:hover{
  opacity: 1;
}

#psv-marker-posits{
  transition: all .5s;
}
#psv-marker-posits:hover{
  opacity: 1;
}

#psv-marker-lampara{
  transition: all .5s;
}
#psv-marker-lampara:hover{
  opacity: 1;
}

#psv-marker-revista{
  transition: all .5s;
}
#psv-marker-revista:hover{
  opacity: 1;
}

#psv-panel-content{
  text-align: center;
}

h1{
  font-family: 'Asap', sans-serif;
  font-weight: bolder;
  font-style: italic;
  text-align: center;
  font-size: xx-large;
}
p{
  font-family:'Asap'; 
  font-size: 15px;
  text-align: center;
  width: 100%;
}

fieldset{
  position: fixed;
  height: 80vh;
  width: auto;

  top: 10vh;
  bottom: 5vh;
  left: 10vw;
  right: 10vw;

  border-style: solid;
  border-color: white;

  opacity: 0.5;
}

.ending{
  position: relative;
  width: 100%;
  height: 100%;
}

.ending p{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  margin-top: 85vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: none;
  color: white;
  font-size: 15px;
}

.ending img{
  height: 7vh;
  position: fixed;
  margin-top: 13vh;
  z-index: 3;
  opacity: 0.8;
  margin-left: 46vw;
}

.mobileending{
  position: relative;
  width: 100%;
  height: 100%;
}

.mobileending p{
  width: 60vw;
  height: 100%;
  position: fixed;
  z-index: 1;
  margin-top: 50vh;
  margin-left: 20vw;
  text-align: center;
  background: none;
  color: white;
  font-size: 1.5vh;
}

.mobilelogo{
  height: 5vh;
  position: fixed;
  margin-top: 42.5vh;
  z-index: 3;
  opacity: 0.8;
  margin-left: 35vw;
}

.mobile{
  background-image: url("../../images/FONS_mobile.jpg");
}