html, body{
  height: 100%;
  font-family: 'Asap';
}

@font-face{
  font-family: 'Asap', sans-serif;
  src: local('Asap'), url('../src/Asap/Asap-Regular.ttf'), format('truetype');
}

body {
  margin: 0;
  font-family: 'Asap', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
/* 
h1{
  font-family: 'Asap', sans-serif;
  font-weight: bolder;
  font-style: italic;
  margin-left: 5vw;
} */
